@import '../../partials/colors';
@import '../../partials/mixins';

.Instagram{
    display: flex;
    justify-content: center!important;
    margin: 2rem 0;
}

._2R-kh{
    justify-content: center;
    gap: 4rem;
}
