@import '../../partials/colors';
@import '../../partials/mixins';

.heroabout {
	&__image {
		width: 100%;
		object-fit: cover;
	}
}
.voted {
	padding: 3rem 5.156rem 1rem;
	width: 100%;
	display: flex;
	justify-content: center;
	@include tablet {
		padding: 2rem 4.813rem 2rem 3.875rem;
	}
	@include mobile {
		padding: 0;
	}
	&__content {
		display: flex;
		align-items: center;
		width: 100%;
		max-width: 1300px;
		gap: 3rem;
		&--inverse {
			flex-direction: row-reverse;
		}
		@include mobile {
			padding: 1.667rem 1.944rem;
			flex-direction: column;
			justify-content: center;
		}
	}
	&__image {
		width: 45%;
		@include tablet {
			width: 45%;
		}
		@include mobile {
			width: 100%;
		}
	}
	&__contentBox {
		width: 55%;
		display: flex;
		flex-direction: column;
		align-items: left;
		@include tablet {
			width: 55%;
		}
		@include mobile {
			width: 100%;
			margin-top: 25px;
			text-align: center;
		}
	}
	&__name {
		color: $white;
		text-transform: capitalize;
		@include sectionTitle;
		font-size: 2.366rem;
		@include tablet {
			font-size: 0.9rem;
		};
		@include mobile {
			font-size: 0.778rem;
		}
	}
	&__subtext {
		color: $white;
		font-family: 'Nunito Sans', sans-serif;
		font-weight: 300;
		font-size: 1.7rem;
		margin-top: 1rem;
		margin-bottom: 9rem;
		&--FP{
			margin-bottom: 4rem;
		}
		@include tablet {
			font-size: 0.65rem;
			margin-top: 0.688rem;
		};
		@include mobile {
			font-size: 0.667rem;
			margin-top: 0.667rem;
		}
	}
	&__text {
		
		text-align: left;
		@include regularText;
		color: $yellow;
		@include tablet {
			font-size: 0.65rem;
			margin: 1.125rem 0 0.438rem;
			line-height: 1.25rem;
		}
		@include mobile {
			font-size: 0.667rem;
			margin: 0.667rem 0 0.278rem;
			line-height: 1.12rem;
		}
	}
	&__button {
		background-color: $yellow;
		border-radius: 38px;
		color: $black;
		font-family: 'Nunito Sans', sans-serif;
		font-weight: 700;
		font-size: 1.1rem;
		width: 250px;
		height: 50px;
		@include tablet {
			font-size: 0.5rem;
			width: 115px;
			height: 30px;
		}
		@include mobile {
			width: 120px;
			height: 25px;
		}
	}
}	
.meetdre {
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: #1A1A1A;
	align-items: center;
	justify-content: center;
	&__imagebox{
		width: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__image{
		width: 90%;
	}
	&__textbox{
		width: 50%;
	}
	&__title {
		color: white;
		font-size: 3.363rem;
		font-weight: 700;
	}
	&__divider{
		height: 1px;
		background-color: white;
		width: 10%;
		
		margin: 1rem 0;
		margin-left: .2rem;
	}
	&__name{
		color: $yellow;
		font-size: 3.363rem;
		font-weight: 700;
	}
	&__subtitle{
		color: white;
		font-size: 2.363rem;
		font-weight: 400;
	}
	&__description{
		color: white;
		font-size: 1.875rem;
		width: 90%;
	}
}