@import '../../partials/colors';
@import '../../partials/mixins';

.ServiceCard {
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 0rem 0 4.5rem;
	@include tablet {
		padding: 2.813rem 0 1rem;
	}
	&--withbutton {
		padding: 5rem 0 3rem;
		@include tablet {
			padding: 2.813rem 0 1rem;
		};
		@include mobile {
			padding: 1.944rem 0 2rem;
		};
	}
	&--withbutton &__title {
		@include tablet {
			font-size: 1.1rem;
			margin-bottom: 1.833rem;
		};
		@include mobile {
			font-size: 0.889rem;
			margin-bottom: 1.444rem;
		}
	}
	&--notop {
		padding: 0 0 4.5rem 0;
		@include tablet {
			padding: 0 0 3.056rem 0;
		};
		@include mobile {
			padding: 0 0 2.778rem 0;
		}
	}
	&--notop &__title {
		@include tablet {
			font-size: 1.667rem;
			margin-bottom: 1.389rem;
		};
		@include mobile {
			font-size: 0.889rem;
			margin-bottom: 1.111rem;
		}
	}
	&__content {
		width: 100%;
		max-width: 1200px;
		display: flex;
		flex-direction: row;
		align-items: center;
        background-color: #1A1A1A;
		@include tablet {

			flex-direction: column;
			padding: 1rem 1.333rem;
			text-align: center;
		};
		@include mobile {
			padding: 1rem 1.944rem;
		};
	}
    &__imagebox{

    }
    &__image{
        height: 400px;
		@include tablet{

			height: 300px;
		}

		@include mobile{
			height: 365px;
		}
    }
    &__textbox{
		width: 60%;
       margin-left: 3rem;
	   @include tablet{
		width: 100%;
		   margin: 1rem 0;
		   margin-left: 0;
	   }
	   
    }
	&__title {
		@include sectionTitle;
		margin-bottom: 1rem;
		color: $yellow;
        text-transform:uppercase;
        font-weight: 600;
		font-size: 1.6rem;
		@include tablet {
			text-align: left;
			font-size: 1.1rem;
			margin-bottom: 1.833rem;
		}
		@include mobile {
			font-size: 0.889rem;
			margin-bottom: 1.444rem;
		}
	}
    &__subtitle {
		@include sectionTitle;
		margin-bottom: 1rem;
        font-size: 1.1rem;
        text-transform:uppercase;
        font-weight: 400;
		color: $white;
		width: 80%;
		@include tablet {
			text-align: left;
			font-size: 1.1rem;
			margin-bottom: 1.833rem;
		}
		@include mobile {
			font-size: 0.889rem;
			margin-bottom: 1.444rem;
		}
	}
	&__text {
		font-family: 'Nunito Sans', sans-serif;
		font-weight: 400;
		font-size: .967rem;
		color: $white;
		text-align: left;
		width: 80%;
		@include tablet {
			font-size: 0.778rem;
		}
	}
	&__buttonbox {
		display: flex;
		
		@include tablet {
			margin-top: 1.833rem;
		};
		@include mobile {
			margin-top: 0.833rem;
		}
	}
	&__price {
		@include sectionTitle;
		color: $yellow!important;
		width: 50%;
        font-size: 1.1rem;
        font-weight: 600;
		@include tablet {
			text-align: left;
			font-size: 1.1rem;
		}
		@include mobile {
			font-size: 0.889rem;
		}
	}
	&__pricebox{
		display: flex;
		flex-direction: row;
		align-items: center;
		margin-top: 1rem;
	}
	&__button {
		width: 50%;
		background-color: $yellow;
		border-radius: 38px;
		color: $black;
		font-family: 'Nunito Sans', sans-serif;
		font-weight: 700;
		font-size: 0.9rem;
		width: 210px;
		height: 40px;
		margin: 0 0rem;
		@include tablet {
			width: 113px;
			height: 34px;
			font-size: 0.5rem;
		};
		@include mobile {
			width: 130px;
			height: 28px;
			margin: 0 0.566rem;
			font-size: 0.544rem;
		}
	}
}